.timeline {
  position: relative;
  margin-bottom: 60px;
}

.timeline-ruler {
  padding-top: 20px;
}

.timeline-ruler-marks {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #A9A9A9;
  margin-bottom: 5px;
}

.timeline-ruler-mark {
  border-right: 1px solid #A9A9A9;
  height: 5px;
}

.timeline-ruler-bounds {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
